{% extends "base.html" %}
{% block metatitle %}Tags{% endblock %}
{% block title %}Tags{% endblock %}

{% block description %}A listing of all tags on this site{% endblock %}

{% block content %}
<article>
  <div class="article_text">
    <ul>
      {% for tag, articles in tags|sort %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
      {% endfor %}
    </ul>
  </div>
  <div class="article_meta" style="padding-top:50px; padding-bottom: 50px;">
    This page definitely needs a face lift.<br /> Excuse my lack of perfectionism here.
  </div>
</article>
{% endblock %}
